.header {
  font-size: 2em; background-color: grey; overflow: hidden;
  max-width: 100%; max-height: 2em; height: 2em;
  margin: auto;
  display: flex; flex-direction: row; flex-wrap: wrap;
}
.back {
  font-family: corpstore;
}
#back {
  width: 10%; height: 2em;
}
#tittle {
  width: 80%; height: 2em
}
.menu {
  font-family: corpstore;
}
#menu {
  width: 10%; height: 2em
}
