.vistaCommanda {
 font-size: 16px;
 width: 100%;
}
#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
#searchList {

}
#itemsList {

}
#additionalData {

}
#submit {

}
#searchBar {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
