.back {
  font-size: 1.5em;
  background-color: #4CAF50;
  width : 100%;
  height : 100%;
  /*border: none;*/
  /*color: white;
  padding: 15% 32%;*/
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*display: inline-block;*/
  /*margin: 4% 2%;*/
  /*cursor: pointer;*/
}
#back {
  font-size: 1.5em;
  background-color: #4CAF50;
  width : 100%;
  height : 100%;
  /*border: none;*/
  /*color: white;
  padding: 15% 32%;*/
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*display: inline-block;*/
  /*margin: 4% 2%;*/
  /*cursor: pointer;*/
}
